.DS_STORE
Datasets/data/*
!Datasets/data/SnapPQGram_413/
!Datasets/data/PaperSubmission/
!Datasets/data/SnapHintsData/

Datasets/data/PaperSubmission/*
!Datasets/data/PaperSubmission/Simulation/
#*.pkl
#*.png
.idea/*
*__pycache__*
*.ipynb_checkpoints*
*.vscode*
.Rproj.user
*.RData
*.Rhistory